/* You can add global styles to this file, and also import other style files */
body{
  background-color: #243746;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.text-white{
  color: #ffffff;
}

input{
  height:65px;
}

input.small{
  height:30px;
  margin:8px 0;
  width:98%;
}

table{
  border-collapse: collapse;
  border-color: aliceblue;
}
